*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
    grid-template-columns: 80px 1fr;
    grid-template-rows: 50px 1fr 50px;
    height: 100vh;
    background-color: rgb(3, 11, 44);
}
header{
    display: flex;
    justify-content: space-between;
    background: cyan;
    align-items: center;
    padding: 1%;
    color: rgb(1, 21, 97);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    box-shadow: 0px 2px 5px rgb(0,0,0);
    height: auto;
}
.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 10px;
    font-size: larger;
    font-weight: bold;
}
.navbar ul li a button{
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    color: cyan;
    background: rgb(3, 11, 44);
}
a{
    text-decoration: none;
    color: rgb(1, 21, 97);;
}
i{
    font-size: 40px;
    padding: 0 10px;
    color: white;
}
i:hover{
    color: cyan;
    transform: scale(1.2);
}
aside{
    grid-area: aside;
    background: rgb(3, 11, 44);
    height: 100vh;
    position:fixed;
    top: 50px;
    left: 0;
    box-shadow: 2px 0px 5px white;
    z-index: 1;
    padding: 2% 0.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.socials{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}
.socials>i{
    font-size: 300%;
    border: none;
}
main{
    grid-area: main;
    background: conic-gradient( cyan,rgb(3, 11, 44),rgb(3, 11, 44));
    color: white;
    width: 100%;
    height: auto;
}
h2{
    font-size: 50px;
    text-align: left;
}
h3{
    font-size: x-large;
}
.text-content p{
    font-size: 20px;
    text-align: left;
    color: rgba(255, 255, 255, 0.575);
}
.section1{
    width: 100%;
    padding: 2%;
    height: 700px;
}
.content1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}
.text-content{
    padding: 0 50px 0 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 460px;
    gap: 30px;
}
.image-content img{
    width: 680px;
}
.text-content button{
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    color: rgb(3, 11, 44);
    background: cyan;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
.section2{
    width: 100%;
    background:  rgb(2, 7, 30);
    height: 600px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 2%;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    text-align: left;
}
p{
    color: rgba(255, 255, 255, 0.588);
    font-size: large;
}
.card-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 1px 0 10px;
    padding: 2%;
    width: 30%;
    background: rgb(251, 251, 251);
    border-radius: 20px;
}
img{
    width: 100%;
}
.card-wrapper i{
    padding: 0%;
    color: black;
}
.card-wrapper h3{
    color: rgb(3, 11, 44);
}
.card-wrapper p {
    color: black;
}
.text-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60%;
    gap: 60px;
}
.section3{
    height: 700px;
    padding: 5%;
}
.section3-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
}
.card{
    text-align: center;
    line-height: 1.5;
}
footer{
    grid-area: footer;
    background-color: cyan;
    z-index: 2;
    padding: 2%;
}
