*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(248, 95, 0);
    font-family: sans-serif;
}
header{
    background: black;
    color: rgb(243, 231, 0);
    padding: 1.5% 5%;
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    font-size: larger;
    font-weight: bold;
    color: rgb(243, 231, 0);
    text-decoration: none;
    margin: 0 50px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    position: relative;
}
.container{
    background: rgb(243, 231, 0);
    height: 700px;
    width: 700px;
    position: absolute;
    filter: blur(50px);
    border-radius: 100% ;
}
.content{
    z-index: 10;
}
h1{
    font-size: 60px;
}
h1 img{
    width: 400px;
}
.service{
    list-style: none;
    position: absolute;
    right: 80px;
    padding: 1%;
    background: rgba(0, 0, 0, 0.721);
    z-index:20 ;
    display: none;
}
 .service:hover{
    display: block;
}













.container:hover{
    transform: scale(2.3);
    transition: 3s ease-in-out;
}
