*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: url(/FRONTEND/Images/city.jpg) no-repeat center fixed;
    background-size: cover;
    transition: 0.30s ease-in;
}
nav{
    width: 50%;
    padding-right: 2%;
    display: flex;
}
ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
}
ul a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(247, 244, 243);
    margin: 0 10px;
    padding: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(205, 17, 17);
    transition: 0.30s ease-in-out;
}
h1{
    color: rgb(255, 255, 255);
    margin-left: 1%;
}
nav a:hover{
    background-color: #4a3f3f87;
}
button{
    padding: 0.3% 2%;
    margin-top: 0.5%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.btn{
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 0 2%;
}
button:first-child{
    background: rgb(49, 44, 44);
    color: cyan;
}
.aside{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(245, 245, 245, 0);
    box-shadow: -5px 5px 50px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    backdrop-filter: blur(20px);
    border-radius: 20px 0 0;
}
.aside>a{
    color: rgb(0, 0, 0);
    display: block;
    font-size: x-large;
    width: 100%;
    margin: 0;
}
.aside>a>li{
    margin-left: 5%;
}
i{
    font-size: 2em;
    color: white;
    cursor: pointer;
}
.aside>li>i{
    color: black;
    font-size: 3em ;
    text-align: right;
    margin-left: 10%;
}
.content{
    padding: 2%;
}
.content1{
    background-color: rgba(0, 0, 0, 0.297);
    padding: 5%;
    border-radius: 20px;
}
.menu{
    display: none;
}
p{
    text-align: center;
}
.nav-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-bottom: 2px solid black;
    padding: 3% 0;
}
.nav-btns>button{
    padding: 2%;
    width: 40%;
    gap: 20px;
    box-shadow: none;
}
@media (max-width: 800px) {
    .hide{
        display: none;
    }
    .menu{
        display: block;
        margin-left: 8em;
    }
}