*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto  1fr auto;
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
    height: 100vh;
    font-family: 'Arial', sans-serif;
}
.head{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
header{
    grid-area: header;
    background-color: #001260;
    color: #ededed;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    border-bottom: 2px solid #0432ff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    height: 80px;
}
h1{
    font-size: 1.5rem;
    font-weight: bold;
}
.search-bar{
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-bar input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #ffc404;
    outline: none;
    width: 100%;
}
.search-bar button{
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #2604ff;
    color: rgb(250, 247, 247);
    cursor: pointer;
}
.search-bar input::placeholder{
    color: #00000087;
}
aside{
    grid-area: sidebar;
    background-color: #010422;
    width: 250px;
    padding:  0 20px;
    border-right: 2px solid #0432ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    display: none;
    transition: 3s ease in-out;
    position: fixed;
    top: 80px;
    left: 0;
    height: 100vh;
    z-index: 10;
    color: white;
    overflow: hidden;
    overflow-y: auto;
}
.close-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   ;
}
.genres{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    border-top: 2px solid #0432ff;
    padding: 10px 0;
    width: 100%;
    margin-top: 20px;
}
.genre-box{
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.genre-box a{
    color: white;
    text-decoration: none;
}
.side-nav{
    display: flex;
    flex-direction: column;
    color: white;

}
.side-nav a{
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    padding: 15px 50px;
}
.settings{
    margin-top: 40px;
    border-top: 2px solid #0432ff;
    width: 100%;
    text-align: center;
    padding: 5%;
}
.settings-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 8%;
    border: 1px solid white;
    border-radius: 20px;
    background: none;
    color: white;
}
.nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.side-nav a:hover{
    background-color: rgba(238, 237, 237, 0.384);
}
main{
    grid-area: main;
    padding: 20px;
    overflow-y: auto;
    background: url(/CODING/IMAGES/light.JPG)no-repeat center center fixed;
    background-size: 80%;
    margin-top: 80px;
    color: white;
}
.movie-section{
    padding: 22px 0;
    border-bottom: 2px solid #0432ff;
    border-top: 2px solid #0432ff;
    background-color: rgba(0, 0, 0, 0.792);
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    gap: 20px;
    margin: 10px 0;
}
.movie-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 20rem;
    height: auto;
    background: rgba(0, 0, 0, 0.971);
    padding-bottom: 10px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px #0432ff;
}
.m-img{
    width: 100%;
    height: 120px;
    border-radius: 10px;
}
.m-img img{
    width: 100%;
    height: 100%;
}
.file-btn button{
    padding: 0.4rem;
    width: 6rem;
    border: none;
    border-radius: 10px;
}
.file-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.watch{
    background: blue;
    color: white;
}
.download{
    background: blue;
    color: white;
}
footer{
    grid-area: footer;
    background-color: #001260;
    padding: 10px;
    text-align: center;
    color: white;
}@media (min-width: 768px) {
    header{
        display: flex;
        align-items: center;
        justify-content: start;
    }
    aside{
        display: flex;
    }
    main{
        grid-area: main;
        padding: 10px;
        overflow-y: auto;
        margin-left: 150px;
    }
    aside{
      width: 150px;
    }
    #menu{
        display: none;
    }
    .search-bar input{
        width: 300px;
    }
    .close-bar{
        display: none;
    }
}
